In [1]:
import pandas as pd

In [2]:
df_flexi = pd.read_csv("../../data/transformed/flexicar.es.csv")
df_mil = pd.read_csv("../../data/transformed/milanuncios_predi.csv")
df_mil

               car_type  year  price      km prediccion   color
0       TESLA - MODEL 3  2022  32990   67405      bueno  silver
1       TESLA - MODEL S  2019  46500   37500      bueno    blue
2       TESLA - MODEL X  2018  37490  140261      bueno  orange
3       TESLA - MODEL Y  2023  36900   33000      bueno    blue
4       TESLA - MODEL Y  2023  44990   29000      bueno    grey
...                 ...   ...    ...     ...        ...     ...
1662       CUPRA - LEON  2025  34305       0      bueno    grey
1663       CUPRA - LEON  2025  28885       0      bueno   black
1664  CUPRA - FORMENTOR  2025  49400    3500    neutral    grey
1665       CUPRA - LEON  2025  44600       0      bueno   black
1666  CUPRA - FORMENTOR  2022  28900   35200      bueno   black

[1667 rows x 6 columns]

In [3]:
df_total = pd.concat([df_flexi, df_mil], ignore_index=True)
df_total

               car_type    year    price       km prediccion  color
0           BMW Serie 1  2021.0  19490.0  85977.0    neutral    tan
1               Audi A1  2017.0  16490.0  48836.0    neutral    red
2                BMW Z4  2022.0  40790.0  54486.0    neutral   blue
3           BMW Serie 1  2020.0  21590.0  61215.0    neutral   grey
4           BMW Serie 1  2022.0  23990.0  93881.0    neutral   grey
...                 ...     ...      ...      ...        ...    ...
2772       CUPRA - LEON    2025  34305.0      0.0      bueno   grey
2773       CUPRA - LEON    2025  28885.0      0.0      bueno  black
2774  CUPRA - FORMENTOR    2025  49400.0   3500.0    neutral   grey
2775       CUPRA - LEON    2025  44600.0      0.0      bueno  black
2776  CUPRA - FORMENTOR    2022  28900.0  35200.0      bueno  black

[2777 rows x 6 columns]

In [4]:
df_total = df_total[df_total['car_type'] != 'BMW - SERIE']

In [5]:
df_total['car_type'] = df_total['car_type'].str.upper()

C:\Users\Tore\AppData\Local\Temp\ipykernel_5464\754666513.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total['car_type'] = df_total['car_type'].str.upper()

In [6]:
df_total['car_type'].unique()

array(['BMW SERIE 1', 'AUDI A1', 'BMW Z4', 'AUDI Q7', 'AUDI Q2',
       'AUDI Q3', 'BMW X2', 'BMW SERIE 2', 'AUDI Q5', 'BMW X4', 'BMW X1',
       'AUDI A3', 'BMW X3', 'AUDI Q3 SPORTBACK', 'BMW X5', 'BMW SERIE 3',
       'BMW SERIE 5', 'BMW X6', 'BMW SERIE 4', 'AUDI A4',
       'BMW SERIE 2 GRAN TOURER', 'AUDI A7', 'AUDI A6',
       'BMW SERIE 2 ACTIVE TOURER', 'AUDI A5', 'BMW SERIE 7', 'BMW I3',
       'AUDI Q5 SPORTBACK', 'PORSCHE MACAN', 'BMW SERIE 6',
       'TESLA - MODEL 3', 'TESLA - MODEL S', 'TESLA - MODEL X',
       'TESLA - MODEL Y', 'AUDI - A3', 'AUDI - Q3', 'AUDI - A6',
       'AUDI - A5', 'AUDI - TT', 'AUDI - A1', 'AUDI - A4', 'BMW - X2',
       'BMW - X6', 'BMW - X3', 'BMW - X5', 'BMW - X1', 'BMW - COMPACT',
       'BMW - Z4', 'PORSCHE - CAYENNE', 'PORSCHE - TAYCAN',
       'PORSCHE - PANAMERA', 'PORSCHE - MACAN', 'PORSCHE - 911',
       'PORSCHE - BOXSTER', 'CUPRA - TERRAMAR', 'CUPRA - LEON',
       'CUPRA - FORMENTOR', 'CUPRA - BORN', 'CUPRA - ATECA'], dtype=object)

In [7]:
marcas = ['BMW', 'AUDI', 'TESLA', 'PORSCHE', 'CUPRA']

def formatear_car_type(valor):
    if pd.isna(valor):
        return valor
    valor = str(valor).upper().strip()
    for marca in marcas:
        if valor.startswith(marca):
            resto = valor[len(marca):].strip()
            # Si ya tiene el guion, no lo agregamos
            if resto.startswith('-'):
                resto = resto[1:].strip()
            return f"{marca} - {resto}"
    return valor  # Si no detectamos ninguna marca, lo dejamos igual

# Aplicamos al dataframe
df_total['car_type'] = df_total['car_type'].apply(formatear_car_type)

C:\Users\Tore\AppData\Local\Temp\ipykernel_5464\856760251.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total['car_type'] = df_total['car_type'].apply(formatear_car_type)

In [8]:
modelos_equivalentes = {
    'AUDI - Q3 SPORTBACK': 'AUDI - Q3',
    'AUDI - Q5 SPORTBACK': 'AUDI - Q5',
    'BMW - SERIE 2 GRAN TOURER': 'BMW - SERIE 2',
    'BMW - SERIE 2 ACTIVE TOURER': 'BMW - SERIE 2',
}

df_total['car_type'] = df_total['car_type'].replace(modelos_equivalentes)

C:\Users\Tore\AppData\Local\Temp\ipykernel_5464\1233598218.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total['car_type'] = df_total['car_type'].replace(modelos_equivalentes)

In [9]:
df_total.to_csv("../../data/processed/full_data.csv", index=False)