In [36]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import root_mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.read_csv('../../../data/processed/full_data.csv')

In [16]:
df.dtypes

photo_url     object
car_type      object
year           int64
price          int64
km             int64
prediccion    object
dtype: object

In [11]:
df = df[df['year'] != 'eléctrico']

In [15]:
df['year'] = df['year'].astype(int)

C:\Users\victo\AppData\Local\Temp\ipykernel_8084\1483339248.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['year'].astype(int)

In [17]:
df.drop(columns='photo_url', inplace=True)

C:\Users\victo\AppData\Local\Temp\ipykernel_8084\1698039266.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns='photo_url', inplace=True)

In [19]:
LE = LabelEncoder()

df['car_type_encoded'] = LE.fit_transform(df['car_type'])

df

C:\Users\victo\AppData\Local\Temp\ipykernel_8084\4089813375.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['car_type_encoded'] = LE.fit_transform(df['car_type'])

               car_type  year  price     km prediccion  car_type_encoded
0         BMW - SERIE 1  2021  19490  85977    neutral                13
1             AUDI - A1  2017  16490  48836    neutral                 0
2              BMW - Z4  2022  40790  54486    neutral                26
3         BMW - SERIE 1  2020  21590  61215    neutral                13
4         BMW - SERIE 1  2022  23990  93881    neutral                13
...                 ...   ...    ...    ...        ...               ...
2901       CUPRA - LEON  2025  34305      0      bueno                30
2902       CUPRA - LEON  2025  28885      0      bueno                30
2903  CUPRA - FORMENTOR  2025  49400   3500    neutral                29
2904       CUPRA - LEON  2025  44600      0      bueno                30
2905  CUPRA - FORMENTOR  2022  28900  35200      bueno                29

[2905 rows x 6 columns]

In [20]:
import random

In [21]:
colors = ['Red', 'Blue', 'Green', 'Black', 'White', 'Silver', 'Yellow']

# Asignar aleatoriamente un color a cada fila
df['car_color'] = [random.choice(colors) for _ in range(len(df))]

print(df)

               car_type  year  price     km prediccion  car_type_encoded  \
0         BMW - SERIE 1  2021  19490  85977    neutral                13
1             AUDI - A1  2017  16490  48836    neutral                 0
2              BMW - Z4  2022  40790  54486    neutral                26
3         BMW - SERIE 1  2020  21590  61215    neutral                13
4         BMW - SERIE 1  2022  23990  93881    neutral                13
...                 ...   ...    ...    ...        ...               ...
2901       CUPRA - LEON  2025  34305      0      bueno                30
2902       CUPRA - LEON  2025  28885      0      bueno                30
2903  CUPRA - FORMENTOR  2025  49400   3500    neutral                29
2904       CUPRA - LEON  2025  44600      0      bueno                30
2905  CUPRA - FORMENTOR  2022  28900  35200      bueno                29

     car_color
0        White
1        Green
2        White
3          Red
4        Green
...        ...
2901     White
2902     Black
2903     Green
2904      Blue
2905     Green

[2905 rows x 7 columns]

C:\Users\victo\AppData\Local\Temp\ipykernel_8084\2103242535.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['car_color'] = [random.choice(colors) for _ in range(len(df))]

In [22]:
df['car_color_encoded'] = LE.fit_transform(df['car_color'])

C:\Users\victo\AppData\Local\Temp\ipykernel_8084\3575061374.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['car_color_encoded'] = LE.fit_transform(df['car_color'])

In [26]:
df.drop(columns='car_type', axis=1, inplace=True)
df

      year  price     km prediccion  car_type_encoded  car_color_encoded
0     2021  19490  85977    neutral                13                  5
1     2017  16490  48836    neutral                 0                  2
2     2022  40790  54486    neutral                26                  5
3     2020  21590  61215    neutral                13                  3
4     2022  23990  93881    neutral                13                  2
...    ...    ...    ...        ...               ...                ...
2901  2025  34305      0      bueno                30                  5
2902  2025  28885      0      bueno                30                  0
2903  2025  49400   3500    neutral                29                  2
2904  2025  44600      0      bueno                30                  1
2905  2022  28900  35200      bueno                29                  2

[2905 rows x 6 columns]

In [27]:
df_shuffled = df.sample(frac=1, random_state=689).reset_index(drop=True)

In [31]:
df_sin_predi = df_shuffled.drop(columns=['prediccion'])

In [32]:
X = df_sin_predi.drop(columns=['price'])
y = df_sin_predi['price']

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=689)

In [41]:
y_train

1420    24900
1945    29990
477     16990
1820    24490
983     21890
        ...
941     37500
374     12990
2213    25990
514     34500
1528    25290
Name: price, Length: 2324, dtype: int64

In [42]:
modelo_random_forest = RandomForestRegressor(n_estimators=50, criterion='poisson', max_depth=10, random_state=42)

modelo_random_forest.fit(X_train, y_train)

y_pred = modelo_random_forest.predict(X_test)

rmse = root_mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {rmse}')

Mean Squared Error: 10468.956174008476

In [38]:
modelo_random_forest.feature_importances_

array([0.28630231, 0.22043331, 0.44112955, 0.05213483])